<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IoT_ClassEntities" connectionString="metadata=res://*/DBClass.IoT_Class.csdl|res://*/DBClass.IoT_Class.ssdl|res://*/DBClass.IoT_Class.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-235VICP;initial catalog=IoT_Class;persist security info=True;user id=IoT_Web_User;password=qazwsx963852;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehavior0" name="IoT_WebService.IoT_WebService">
        <endpoint address="" behaviorConfiguration="endpointBehavior0"
          binding="webHttpBinding" bindingConfiguration="" contract="IoT_WebService.IIoT_WebService" />
      </service>
    </services>
    <protocolMapping>
      <remove scheme="net.msmq" />
      <add scheme="net.msmq" binding="netMsmqBinding" />
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior0">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="serviceBehavior0">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
   <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在偵錯期間瀏覽 Web 應用程式根目錄，請將下面的值設為 true。
        請在部署之前將該值設定為 false，以避免 Web 應用程式資料夾資訊洩漏。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
